 /* reservation */
body {
    font-family: 'Arial', sans-serif;
    background-image:url(../images/reservation\.jpg);
    background-attachment: fixed;
    margin: 0;
    padding: -60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    color: #333;
    
}

.container {
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.9);
    width: 200%;
    max-width: 400px;
    padding: 20px;
    margin: 30px;
    

    
}

/* Header Styling */
header {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

header h1 {
    color: #007bff;
    font-size: 1.2em;
}

.section-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #495057;
    margin-top: 25px;
    margin-bottom: 10px;
    border-left: 5px solid #28a745;
    padding-left: 10px;
}

/* Form Group Styling */
.form-group {
    margin-bottom: 15px;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input,
.form-group select {
    width: 80%;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing:border-box;
    font-size: 13px;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Error and Confirmation Messages */
.error-message {
    color: #dc3545;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}

.confirmation-message {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

/* Submit Button */
.submit-btn {
    width: 60%;
    background-color: #28a745; /* Success Green */
    color: white;
    padding: 5px;
    border: none;
    border-radius: 15px;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left:19.5%;
    
}

.submit-btn:hover {
    background-color: #218838;
}

/* Footer Styling */
footer {
    width: 45%;
    text-align: center;
    padding: -40px;
    background-color: #343a40;
    color: #f8f9fa;
    
}